{
  "env": {
      "browser": true,
      "es2021": true
  },
  "ignorePatterns": ["babel.config.js"],
  "extends": [
      "airbnb-typescript",
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "airbnb",
      "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "project": "./tsconfig.json",
      "ecmaVersion": "latest",
      "sourceType": "module"
  },
  "plugins": [
      "react",
      "react-hooks",
      "@typescript-eslint",
      "prettier"
  ],
  "settings": {
      "import/resolver": {
        "typescript": {
          "alwaysTryTypes": true
        }
      }
  },
  "rules": {
      "prettier/prettier": [
          "warn",
          {
              "endOfLine": "auto"
          }
      ],
      "react/jsx-filename-extension": "off",
      "react/react-in-jsx-scope": "off",
      "quotes": [
          "error",
          "single"
      ],
      "semi": [
          "error",
          "always"
      ],
      "react/style-prop-object": "off",
      "react/jsx-indent": "off",
      "no-use-before-define": "off",
      "@typescript-eslint/no-use-before-define": "off",
      "no-unused-expressions": [
          "error", { "allowTernary": true }
      ],
      "@typescript-eslint/no-unused-vars": [
          "warn",
          { "argsIgnorePattern": "^_" }
      ],
      "@typescript-eslint/no-explicit-any": "off",
      "import/extensions": [
          "error",
          "ignorePackages",
          {
              "js": "never",
              "jsx": "never",
              "ts": "never",
              "tsx": "never"
          }
      ],
      "react/jsx-no-bind": ["error", {
        "allowArrowFunctions": true,
        "allowFunctions": true,
      }]
  }
}
